<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Update Task</mat-card-title>
      <mat-card-subtitle>Update selected task</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-stepper #stepper>
        <!-- task name -->
        <mat-step
          [stepControl]="updateTaskForm"
          errorMessage="Task name is required."
        >
          <form [formGroup]="updateTaskForm">
            <ng-template matStepLabel>Task Name</ng-template>
            <mat-form-field appearance="fill" [hideRequiredMarker]="true">
              <mat-label></mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
            <div>
              <button mat-stroked-button routerLink="/">Back</button>
              <button mat-flat-button color="primary" matStepperNext>
                <mat-icon>navigate_next</mat-icon>
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <!-- end of task name -->

        <!-- task description -->
        <mat-step
          [stepControl]="updateTaskForm"
          errorMessage="Task descriptions required."
        >
          <form [formGroup]="updateTaskForm">
            <ng-template matStepLabel>Task Description</ng-template>
            <mat-form-field appearance="fill" [hideRequiredMarker]="true">
              <mat-label></mat-label>
              <input matInput formControlName="description" />
            </mat-form-field>
            <div>
              <button mat-stroked-button matStepperPrevious>Back</button>
              <button mat-flat-button color="primary" matStepperNext>
                <mat-icon>navigate_next</mat-icon>
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <!-- end of task description -->

        <!-- task status -->
        <mat-step
          [stepControl]="updateTaskForm"
          errorMessage="Task status is required."
        >
          <form [formGroup]="updateTaskForm">
            <ng-template matStepLabel="">Task Status</ng-template>
            <mat-radio-group formControlName="status">
              <mat-radio-button
                [disabled]="updateTaskForm.value.status === '1'"
                labelPosition="before"
                value="0"
                >New</mat-radio-button
              >
              <mat-radio-button labelPosition="before" value="1"
                >In Progress</mat-radio-button
              >
              <mat-radio-button labelPosition="before" value="2"
                >Completed</mat-radio-button
              >
            </mat-radio-group>
            <div style="margin-top: 16px">
              <button mat-stroked-button matStepperPrevious>Back</button>
              <button mat-flat-button color="primary" matStepperNext>
                <mat-icon>navigate_next</mat-icon>
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <!-- end of task status -->

        <!-- tags -->
        <mat-step
          [stepControl]="updateTaskForm"
          errorMessage="Tags is required."
        >
          <form [formGroup]="updateTaskForm">
            <ng-template matStepLabel>Tags</ng-template>
            <mat-form-field class="example-chip-list" appearance="fill">
              <mat-label></mat-label>
              <mat-chip-list #chipList aria-label="Tag selection">
                <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
                  {{ tag.tagName }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  placeholder="New Tag..."
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addTag($event)"
                  formControlName="tags"
                />
              </mat-chip-list>
            </mat-form-field>
            <div>
              <button mat-stroked-button matStepperPrevious>Back</button>
              <button mat-flat-button color="primary" matStepperNext>
                <mat-icon>navigate_next</mat-icon>
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <!-- end of tags -->

        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-stroked-button matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" (click)="onUpdate()">
              <mat-icon>edit</mat-icon>
              Update Task
            </button>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>
