mat-form-field {
  margin-top: 8px;
  width: 100%;
}

mat-card {
  margin-top: 5%;
  width: 50%;
}
::ng-deep body {
  background-color: rgba(128, 128, 128, 0.1);
}

div > button:nth-child(2) {
  margin-left: 8px;
}

mat-radio-group > mat-radio-button {
  margin-left: 8px;
}
