<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create Task</mat-card-title>
      <mat-card-subtitle>Create a new task</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-stepper #stepper>
        <mat-step [stepControl]="addTaskForm">
          <form [formGroup]="addTaskForm">
            <ng-template matStepLabel>Fill out task name</ng-template>
            <mat-form-field appearance="fill" [hideRequiredMarker]="true">
              <mat-label>Task Name</mat-label>
              <input matInput formControlName="name" />
              <mat-error>Task name field is required</mat-error>
            </mat-form-field>
            <div>
              <button mat-stroked-button routerLink="/">Back</button>
              <button mat-flat-button color="primary" matStepperNext>
                <mat-icon>navigate_next</mat-icon>
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="addTaskForm">
          <form [formGroup]="addTaskForm">
            <ng-template matStepLabel
              >Fill out your task description</ng-template
            >
            <mat-form-field appearance="fill" [hideRequiredMarker]="true">
              <mat-label>Task Description</mat-label>
              <input matInput formControlName="description" />
              <mat-error>Task description field is required</mat-error>
            </mat-form-field>
            <div>
              <button mat-stroked-button matStepperPrevious>Back</button>
              <button mat-flat-button color="primary" matStepperNext>
                <mat-icon>navigate_next</mat-icon>
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="addTaskForm">
          <form [formGroup]="addTaskForm">
            <ng-template matStepLabel>Fill out your tags</ng-template>
            <mat-form-field class="example-chip-list" appearance="fill">
              <mat-label>Tags</mat-label>
              <mat-chip-list #chipList aria-label="Tag selection">
                <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
                  {{ tag.tagName }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  placeholder="New Tag..."
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addTag($event)"
                  formControlName="tags"
                />
              </mat-chip-list>
            </mat-form-field>
            <div>
              <button mat-stroked-button matStepperPrevious>Back</button>
              <button mat-flat-button color="primary" matStepperNext>
                <mat-icon>navigate_next</mat-icon>
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-stroked-button matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" (click)="onCreate()">
              <mat-icon>add_circle</mat-icon>
              Create Task
            </button>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>
