<div class="filter-container" [formGroup]="filterTaskForm">
  <!-- search -->
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input type="text" formControlName="search" #search matInput />
  </mat-form-field>
  <!-- end of search -->

  <!-- tags -->
  <mat-form-field appearance="outline">
    <mat-label>Tags</mat-label>
    <mat-select formControlName="tags">
      <mat-option></mat-option>
    </mat-select>
  </mat-form-field>
  <!-- end of tags -->

  <!-- status -->
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option
        *ngFor="let taskStatus of taskStatuses; let i = index"
        [value]="taskStatuses[i]"
        >{{ taskStatuses[i] }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <!-- end of status -->

  <!-- filter button -->
  <button
    class="search"
    mat-icon-button
    type="button"
    (click)="onFilter(search.value)"
  >
    <mat-icon style="font-size: 28px !important">search</mat-icon>
  </button>
  <!-- end of filter button -->

  <!-- clear filter button -->
  <button
    class="delete-filter"
    mat-flat-button
    color="accent"
    (click)="onClearFilter()"
  >
    <mat-icon style="font-size: 22px !important">delete</mat-icon> Clear Filters
  </button>
  <!-- end of clear filter button -->
</div>

<div class="mat-elevation-z8 task-manager-table">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <!-- Start of Main Div -->
  <div>
    <!-- Start of Table Div -->
    <div class="mat-elevation-z3">
      <!-- Start of Add Dialog Button -->
      <div class="d-flex bottom-border">
        <button
          mat-icon-button
          matTooltip="Add New Task Record"
          (click)="addDialog()"
          color="primary"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
        <h4>Task Records</h4>
        <span class="flex-spacer"></span>
        <!-- Start of Page Selector -->
        <mat-paginator
          [length]="totalPosts"
          [pageSizeOptions]="pageSizeOptions"
          showFirstLastButtons
          [pageSize]="postsPerPage"
          (page)="onChangedPage($event)"
        ></mat-paginator>
        <!-- End of Page Selector -->
      </div>
      <!-- End of Add Dialog Button -->

      <table mat-table [dataSource]="dataSource" matSort>
        <!-- # Column -->
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ currentPage * postsPerPage - (postsPerPage - 1) + i }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.taskName }}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{ row.taskDescription }}</td>
        </ng-container>

        <!-- Tags Column -->
        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tags</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <mat-chip-list>
              <mat-chip
                *ngFor="
                  let chip of dataSource.filteredData[i].tags;
                  let i = index
                "
              >
                {{ chip.tagName }}
              </mat-chip>
            </mat-chip-list>
            <!-- {{ row.tags[0].tagName }} -->
          </td>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
          <td mat-cell *matCellDef="let row">
            {{ row.dateCreated | date: "MM/dd/yyyy" }}
          </td>
        </ng-container>

        <!-- Modified Column -->
        <ng-container matColumnDef="modified">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Modified</th>
          <td mat-cell *matCellDef="let row">
            {{ row.dateModified | date: "MM/dd/yyyy" }}
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">
            <!-- {{ row.status }} -->
            <mat-icon
              *ngIf="row.status === 0"
              class="material-icons-outlined"
              style="font-size: 28px !important; color: #74b9ff"
              matTooltip="New"
              >circle</mat-icon
            >
            <mat-icon
              *ngIf="row.status === 1"
              class="material-icons-outlined"
              style="font-size: 28px !important; color: #fdcb6e"
              matTooltip="In Progress"
              >build_circle</mat-icon
            >
            <mat-icon
              *ngIf="row.status === 2"
              class="material-icons-outlined"
              style="font-size: 28px !important; color: #55efc4"
              matTooltip="Completed"
              >check_circle</mat-icon
            >
          </td>
        </ng-container>

        <!-- Completed Column -->
        <ng-container matColumnDef="completed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Completed</th>
          <td mat-cell *matCellDef="let row">
            {{ row.dateCompleted | date: "MM/dd/yyyy" }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row">
            <a (click)="editDialog(row.taskId)" *ngIf="row.status !== 2"
              >Edit</a
            >
            <a (click)="deleteDialog(row.taskId)">Delete</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="12" style="text-align: center">
            No data matching:
            <span style="color: red; font-weight: bold">{{
              search.value
            }}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
