<!-- Title -->
<h1 mat-dialog-title>{{ taskData.title }} TASK</h1>
<mat-divider></mat-divider>
<br />
<mat-dialog-content>
  <mat-stepper linear="false" #stepper>
    <!-- task stepper -->
    <mat-step [stepControl]="taskForm" label="Fill out task name">
      <form [formGroup]="taskForm">
        <!-- name -->
        <mat-label>Task Name</mat-label>
        <mat-form-field appearance="fill" [hideRequiredMarker]="true">
          <input type="text" matInput formControlName="name" />
          <mat-icon matSuffix>badge</mat-icon>
          <mat-error
            *ngIf="
              taskForm.controls['name'].hasError('required') &&
              taskForm.controls['name'].touched
            "
            >Task name is required</mat-error
          >
        </mat-form-field>
        <!-- end of name -->

        <!-- description -->
        <mat-label>Task Description</mat-label>
        <mat-form-field appearance="fill" [hideRequiredMarker]="true">
          <input type="text" matInput formControlName="description" />
          <mat-icon matSuffix>description</mat-icon>
          <mat-error
            *ngIf="
              taskForm.controls['description'].hasError('required') &&
              taskForm.controls['description'].touched
            "
            >Task description is required</mat-error
          >
        </mat-form-field>
        <!-- end of description -->
        <div align="end">
          <button
            mat-flat-button
            color="primary"
            [disabled]="!taskForm.valid"
            matStepperNext
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <!-- end of task stepper -->

    <!-- tags stepper -->
    <mat-step [stepControl]="taskForm" label="Fill out tags">
      <app-tags></app-tags>
    </mat-step>
    <!-- end of tags stepper -->
  </mat-stepper>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end"> </mat-dialog-actions>
