<form [formGroup]="addTaskForm" (ngSubmit)="onCreate()">
  <!-- tags -->
  <mat-label>Tags - (Optional)</mat-label>
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
        {{ tag.tagName }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="New Tag..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addTag($event)"
        formControlName="tags"
      />
    </mat-chip-list>
  </mat-form-field>
  <!-- end of tags -->
  <div>
    <div align="end">
      <button
        mat-stroked-button
        matStepperPrevious
        color="secondary"
        style="margin-right: 10px"
      >
        Previous
      </button>
      <button mat-flat-button color="primary" [disabled]="!addTaskForm.valid">
        Create Task
      </button>
    </div>
  </div>
</form>
